<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>
	
	<form action="/save" method="post" th:object="${book}">
			
			<input type="hidden" name="id" th:value="${book.id}"/>
			Name <input type="text"  name="name" th:value="${book.name}">	
			Author<input type="text"  name="author" th:value="${book.author}">	
			Price <input type="text"   name="price" th:value="${book.price}">	
			 <button type="submit"  >Submit</button> 
		</form>
</h1>
</body>
</html>